# SET UP AUTH `pnpx @convex-dev/auth`

# ADD GROQ_API_KEY on Convex Dashboard

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:tame-perch-401 # team: mt0, project: notes-convex-rag

NEXT_PUBLIC_CONVEX_URL=https://tame-perch-401.convex.cloud

NEXT_PUBLIC_API_CONVEX_URL=https://tame-perch-401.convex.site

NEXT_PUBLIC_BASE_URL=http://localhost:3000

